<h2 class="log-reg-header">Регистрация</h2>
<div class="log-reg-form">
  <p>Логин: <input [(ngModel)]="form.username" name="username" type="text" class="form-control"
                   id="username" #username="ngModel" required /></p>
  <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
    Некорректный логин
  </div>
  <p>Пароль <input [(ngModel)]="form.password" name="password" type="password" class="form-control"
                   id="password" #password="ngModel" required /></p>
  <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
    Некорректный пароль
  </div>
  <button type="button" class="btn btn-primary" (click)="onSubmit()"
          data-bs-dismiss="modal" routerLink="/login"
          [disabled]="username.invalid || password.invalid" >Зарегистрироваться
  </button>
</div>
