<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Жилой фонд</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-7 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" aria-current="page" routerLink="/district">Районы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/house">Дома</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/tenant">Жители</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-7 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn">{{username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn" routerLink="/login" (click)="logout()">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
